.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


  @media (min-width: 768px) {
    
  }
  @media (min-width: 992px) {
    flex-direction: row;
    gap: 1rem;
    margin-top: 3.5rem;
  }
}